#menu ul, #vids {
	
	display:	none;
}

div.fotka {

	float:			left;

	margin-right:	20px;
	margin-bottom:	20px;
	padding:		10px;
	
	background:		rgb(240, 240, 240);
	text-align:		center;
}

div.fotka a {
	
	page-break-after: avoid;
}

a img {
	
	border:			none;
}
